services:
  mysql:
    image: mysql:8.0
    container_name: be_aliant_mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASS}
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "-p$$MYSQL_ROOT_PASSWORD" ]
      interval: 10s
      timeout: 5s
      retries: 5

  adminer:
    image: adminer
    container_name: be_aliant_adminer
    restart: unless-stopped
    ports:
      - "8080:8080"
    depends_on:
      - mysql

  localstack:
    image: localstack/localstack
    container_name: be_aliant_localstack
    restart: unless-stopped
    ports:
      - "4566:4566"
    environment:
      SERVICES: sqs
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:4566/_localstack/health" ]
      interval: 10s
      timeout: 5s
      retries: 5

  sqs-init:
    image: amazon/aws-cli
    container_name: be_aliant_sqs_init
    depends_on:
      localstack:
        condition: service_healthy
    environment:
      AWS_ACCESS_KEY_ID: test
      AWS_SECRET_ACCESS_KEY: test
    command: >
      --endpoint-url=http://localstack:4566 --region us-east-1 sqs create-queue --queue-name orders-queue

  api:
    build:
      # Contexto na raiz do monorepo para o Dockerfile acessar common/ durante o build
      context: .
      dockerfile: api/Dockerfile
    container_name: be_aliant_api
    restart: unless-stopped
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      mysql:
        condition: service_healthy
      localstack:
        condition: service_healthy

  worker:
    build:
      # Contexto na raiz do monorepo para o Dockerfile acessar common/ durante o build
      context: .
      dockerfile: worker/Dockerfile
    container_name: be_aliant_worker
    restart: unless-stopped
    env_file:
      - .env
    depends_on:
      mysql:
        condition: service_healthy
      localstack:
        condition: service_healthy

  web:
    build:
      context: ./web
      dockerfile: Dockerfile
    container_name: be_aliant_web
    restart: unless-stopped
    ports:
      - "5173:80"
    depends_on:
      - api

volumes:
  mysql_data:
